.card-Single{
    box-shadow: 5px 9px 16px rgb(237, 117, 117);
    border-radius: 4px;
    width: 500px;
    margin: auto;
    /* text-align: center; */
}
.right-card{
    padding: 10px;
}

.tab{
    padding: 5px 8px;
    background-color: #75eec6;
    cursor: pointer;
}
